@page
@model IndexModel
@*@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<html>
<script>function ToggleMe() {
        $('#toggleMe').toggle();
        $('#nodis').toggle();
        return false;
    }
    function ToggleMe1() {
        $('#toggleMe').toggle();
        $('#nodis').show();
        return false;
    }</script>
<body style="background-color:black">
<meta charset="UTF-8">

    
        <h1 style="position: absolute;left: 310px;top:35px;color: white">消愁</h1>
        
        
           
        
   
<div><br><br><br><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="https://flask.neocities.org/b.jpg" style="width: 260px; height: 200px;position: absolute;left: 230px"><br><br><br><br><br><br><br><br><br>
       <h2 style="position: absolute;left: 280px;font-size:20px;color: white"> 作词: 毛不易 </h2><br><br>
       <h2 style="position: absolute;left: 280px;font-size:20px;color: white"> 作曲: 毛不易 </h2><br><br>
        <object width="600" height="400"
             data="https://www.youtube.com/embed/KZbswFDOOsY"  style="position: absolute;top:90px;left: 600px">
        </object>    
<p style="position: absolute;left: 280px;font-family:monospace;color: white">

    当你走进这欢乐场<br>
    
    背上所有的梦与想<br>

    各色的脸上各色的妆<br>

    没人记得你的模样<br>

    三巡酒过你在角落<br>

    固执的唱着苦涩的歌<br>

    听它在喧嚣里被淹没<br>

    你拿起酒杯对自己说<br>

    一杯敬朝阳<br>一杯敬月光 <a onclick="ToggleMe()" id="nodis" style="text-decoration: underline;font-family:cursive;font-size:15px;color:bisque">更多歌词</a>
</p><br><br><br><br><br><br><br><br><br><br>
<p id = "toggleMe"style="position: absolute;left: 280px;font-family:monospace;color: white;display:none">

    唤醒我的向往<br>温柔了寒窗<br>

    于是可以不回头地逆风飞翔<br>

    不怕心头有雨<br> 眼底有霜<br>

    一杯敬故乡<br> 一杯敬远方<br>

    守着我的善良<br>催着我成长<br>

    所以南北的路从此不再漫长<br>

    灵魂不再无处安放<br>

    躁动不安的座上客<br>

    自以为是地表演着<br>

    伪装着<br>舞蹈着<br>疲惫着<br>

    你拿起酒杯对自己说<br>

    一杯敬朝阳<br> 一杯敬月光<br>

    唤醒我的向往 <br>温柔了寒窗<br>

    于是可以不回头地逆风飞翔<br>

    不怕心头有雨<br> 眼底有霜<br>

    一杯敬故乡<br> 一杯敬远方<br>

    守着我的善良<br>催着我成长<br>

    所以南北的路从此不再漫长<br>

    灵魂不再无处安放<br>

    一杯敬明天 <br>一杯敬过往<br>

    支撑我的身体<br> 厚重了肩膀<br>

    虽然从不相信所谓山高水长<br>

    人生苦短何必念念不忘<br>

    一杯敬自由 <br>一杯敬死亡<br>

    宽恕我的平凡驱散了迷惘<br>

    好吧天亮之后总是潦草离场<br>

    清醒的人最荒唐<br>

    清醒的人最荒唐<a onclick="ToggleMe1()" style="text-decoration: underline;font-family:cursive;font-size:15px;color:bisque">收起</a><br>
	
</p>
</div>

</body>

</html>
